
@{
    ViewBag.Title = "display";
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/StyleDisplay.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <img src="~/export-map-share.png" alt="pic">
    <canvas id="myCanvas"></canvas>
    <script>
            func = (function () {
                $.post("@Url.Action("getLonAndLat")").done(function (xml) {
                    var xmlDoc = $.parseXML(xml),
                    $xml = $(xmlDoc),
                    lon = $xml.find("Lon").text();
                    lat = $xml.find("Lat").text();

                    window.alert("5");
                    var c = document.getElementById("myCanvas");
                    c.style.width = screen.width;
                    c.style.height = screen.height;
                    var newLon = (parseFloat(lon) + 180) * (360 / c.height);
                    var newLat = (parseFloat(lat) + 90) * (180 / c.width);

                    var ctx = c.getContext("2d");
                    ctx.beginPath();
                    ctx.arc(newLat, newLon, 10, 0, 2 * Math.PI);
                    ctx.fillStyle = "red";
                    ctx.fill();
                    ctx.stroke();
                    ctx.closePath();
                });
            });

            if (@Session["timer"] != 0) {
                var IntervalTime = 1000 / (@Session["timer"])
                setInterval(func, IntervalTime);
            }
            func();
    </script>
</body>
</html>
